@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
--Orange-light: #FFAC6A;

--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}





.gallery-mainPhoto{
    width: 100%;
    min-width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.gallery-mainPhoto__img{
    width: 100%;
    min-height: 30rem;
    max-height: 55rem;
    max-width: 45rem;
    object-fit: contain;

    
}

.icon{
    height: 4rem;
    width: 4rem;
    position: absolute;

    background: var(--White);
    padding: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.icon-next{
    right: 10px;

}

.icon-previous{
    left: 10px;
}

.gallery-thumbnails{
    display: none;
}





.description-wrapper{
    max-width: 50rem;
}

.description-nameCompany{
    display: block;
    font-size: 1.4rem;
    color: var(--Dark-grayish-blue);
    font-weight: 700;
    text-transform: uppercase;
}

.description-nameProduct{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
    display: block;
}

.description-info{
    margin: 2rem 0;
}

.description-info__text{
    font-size: 1.6rem;
    color: var(--Dark-grayish-blue);
    letter-spacing: 0.5px;
}

.description-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-price__number{
    font-size: 3rem;
    font-weight: 700;
}

.description-price__discont{
    color:  var(--White);
    background: var(--Black);
    font-size: 1.6rem;
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
}

.description-priceCurrently{
    display: flex;
    gap: 2rem;
    align-items: baseline;
}

.description-originalPrice{
    font-size: 1.6rem;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-weight: 600;
}

.buttonQtd-wrapper{
    max-width: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 2rem;




}

.buttonQtd-qtd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--Light-grayish-blue);
    padding: 2rem;

    border-radius: 1rem;
}

.buttonQtd-icon{
    cursor: pointer;
}

.buttonQtd-qtd__text{
    font-size: 1.6rem;
    font-weight: 700;
}

.buttonQtd-add{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    background: var(--Orange);
    padding: 2rem;
    border-radius: 1rem;

    cursor: pointer;

    width: 100%;
}

.buttonQtd-add:hover{
    background: var(--Orange-light);
}

.buttonQtd-add__text{
    font-size: 1.3rem;
    font-weight: 700;
}

.infoProduct-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem 0rem;
}

.pageMain-wrapper{
    padding: 0 2rem;
}


.menu-itens__icon{
    margin-bottom: 3rem;
}

.fullPage-wrapper{
    padding-bottom: 5rem;
    position: relative;
}

.cart-wrapper{
    background: white;
    border-radius: 1rem;
    width: 90%;
    max-width: 45rem;
    margin: auto;

    box-shadow: 1px 1px 30px -15px black;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.cart-title{
    font-size: 1.8rem;
    font-weight: 700;
    display: block;

    border-bottom: 1px solid var(--Grayish-blue);
    padding: 2rem;
}

.cart-bottom{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 18.2rem;
}

.cart-empty span{
    font-size: 1.6rem;
    color: var(--Dark-grayish-blue);
    font-weight: 700;
}

.cart-full{
    width: 100%;
    padding: 2rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart-full__product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.cart-full__imgAndInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-full__img{
    width: 18%;
    border-radius: 0.5rem;
}

.cart-full__name{
    display: block;
    font-size: 1.6rem;
    color: var(--Dark-grayish-blue)
}
.cart-full__price{
    font-size: 1.6rem;
    color: var(--Dark-grayish-blue)
}

.cart-full__amount{
    font-size: 1.6rem;
    font-weight: 700;

    margin-left: 1rem;
}

.cart-full__icon{
    cursor: pointer;
}

.cart-full__btn{
    display: block;
    background: var(--Orange);
    text-align: center;
    padding: 1.5rem;
    color: var(--Black);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 1rem;
}

.galleryFS-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.763);
    height: 100vh;
    width: 100vw;

    position: absolute;
    z-index: 10;

}

.galleryFS-wrapper__container{
    width: 45rem;
}

.galleryFS-imgClose{
    text-align: end;

    padding: 0 0 2rem 0;
    cursor: pointer;
}

.galleryFS-imgClose__img{
    fill: var(--White);
    width: 2.5rem;
}

.galleryFS-mainPhoto{
    display: flex;
    align-items: baseline;
    justify-content: center;

    position: relative;
}

.galleryFS-icon__wrapper{
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
    border-radius: 4rem;
    padding: 2.5rem;

    position: absolute;
    top: 45%;


}

.galleryFS-icon{
    border-radius: 4rem;
    height: 7rem;
    overflow: hidden;
}

.galleryFS-icon-previous, .galleryFS-icon-next{
    cursor: pointer;
}



.galleryFS-mainPhoto__img{
    width: 45rem;
    border-radius: 2rem;
}

.galleryFS-icon-previous{
    left: -30px;
}
.galleryFS-icon-next{
    right:  -30px;
}

.galleryFS-thumbnails{
    display: flex;
    justify-content: center;
    gap: 3rem;

    margin-top: 2rem;
}

.galleryFS-thumbnails__img{
    width: 100%;
    border-radius: 1rem;
}

.galleryFS-thumbnails__wrapper{
    width: 8rem;
    height: 8rem;
}

.galleryFS-selectedThumb__wrapper{
    border-radius: 1.22rem;
    background: rgb(255, 255, 255);
    border: 2px solid var(--Orange);


}

.galleryFS-selectedThumb{
    opacity: 0.4;

}







@media (min-width: 1000px){

    .icon{
        display: none;
    }

    .gallery-mainPhoto__img{
        border-radius: 2rem;
    }

    .gallery-thumbnails{
        display: flex;
        justify-content: center;
        gap: 2.5rem;
    
        margin-top: 3.5rem;
    }

    .gallery-selectedThumb{
        opacity: 0.3;

    }

    .gallery-thumbnail__wrapper{
        height: 10rem;
        box-sizing: content-box;
        border: 3px solid transparent;

    }

    .gallery-thumbnails__img{
        width: 8rem;
        border-radius: 1rem;
        cursor: pointer;
    
    }

    .gallery-selectedThumb__wrapper{
        border: 3px solid var(--Orange);
        border-radius: 1.3rem;
        height: 8rem;

    }

    

    .description-nameCompany{
        font-size: 1.3rem;
        letter-spacing: 1.5px;
    }

    .description-nameProduct{
        font-size: 4.5rem;
    }

    .description-info{
        margin-top: 4rem;
    }

    .description-info__text{
        font-size: 1.6rem;
    }

    .description-price{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        margin: 3rem 0;
    }

    .description-price__number{
        font-size: 2.5rem;
    }

    .description-price__discont{
        font-size: 1.5rem;
    }

    .buttonQtd-wrapper{
        flex-direction: row;
        gap:2.5rem;
        max-width: 45rem;
    }

    .buttonQtd-qtd{
        width: 35%;
    }

    .buttonQtd-qtd__text{
        font-size: 1.7rem;
    }

    .buttonQtd-add{
        width: 60%;
    }

    .buttonQtd-add__text{
        font-size: 1.7rem;
    }

    .pageMain-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;
        padding: 0;
    }

    .buttonQtd-icon:hover{
        opacity: 70%;
    }

    .infoProduct-wrapper{
        align-items: flex-start;
    }

    .fullPage-wrapper{
        display: flex;
        flex-direction: column;
        gap: 9rem;

        padding-bottom: 10rem;
    }

    .cart-wrapper{
        width: 40rem;

        top: 23%;
        left: 80%;
    }
}

.menu-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15rem;
    padding: 2rem 0;

    border-bottom: 1px solid #E9E9E9;

}

.menu-images{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu-images__client img{
    width: 5rem;
    border: 2px solid transparent;
    box-sizing: content-box;
    cursor: pointer;
}

.menu-images__client img:hover{
    border: 2px solid var(--Orange);
    border-radius: 50%;
}

.menu-images__cart{
    cursor: pointer;
    position: relative;
}

.menu-images__cartNumber{
    position: absolute;
    left: 15px;
    top: -2px;

    background: var(--Orange);
    color: var(--White);
    padding: 0 0.5rem;
    border-radius: 50%;
    font-weight: 700;
}

.menu-left{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.menu-menu__icon, .menu-itens__icon{
    display: none;
}

.menu-left__logo{
    width: 15rem;
    height: 2rem;
}

.menu-menu__itens a{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    font-size: 1.7rem;
    padding: 3.8rem 2rem;
}

.menu-menu__itens a:hover{
    border-bottom: 4px solid var(--Orange);
}

.menu-overlay{
    display: none;
}

@media (max-width: 999px){

    .menu-wrapper{
        border-bottom: none;
        margin: 0 2rem;
    }

    .menu-left{
        gap: 1rem;
    }

    .menu-left__logo{
        height: 2rem;
    }


    .menu-menu__itens{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;

        position: absolute;
        top: 0;
        left:0;
        height: 100vh;
        width: 50%;
        background: var(--White);

        transform: translateX(-100%);


        transition: transform 0.3s ease;
        z-index: 10;

    }

    .menu-menuOpen{
        transform: translateX(0);

    }

    .menu-menu__icon, .menu-itens__icon{
        display: block;
        cursor: pointer;
    }



    .menu-menu__itens a{
        color: var(--Black);
        font-weight: 700;
        padding: 0;
    }

    .menu-menu__itens a:hover{
        border: none;
    }

    .menu-images__client img{
        width: 4rem;
    }

    .menu-images{
        gap: 1.5rem;
    }

    .menu-overlay__open{
        display: block;
        position: fixed;
        height: 2000px;
        width: 100vw;
        left: 0;

        background: rgba(0, 0, 0, 0.632);
        z-index: 9;

    }
    .galleryFS-wrapper{
        display: none;
    }
}




